<li class='previous <%= current_page.first? ? "disabled" : "" %>'>
  <%=
    link_to_unless(current_page.first?, t('views.pagination.previous').html_safe, url) do |name|
      link_to(name, '#')
    end
  %>
</li>
