<div class="small-2 columns">
  <h2 class="subheader">Categories</h2>
  <div id="categories" class="docs section-container accordion" data-section="accordion">
    <section class="section">
      <p class="title">
        <a href="#" class="label">Ruby</a>
      </p>
      <div class="content">
        <ul class="side-nav pricing-table">
          <li class='bullet-item'><a href="#">First Post</a></li>
          <li class='bullet-item'><a href="#">Second Post</a></li>
          <li class='bullet-item'><a href="#">Third Post</a></li>
          <li class='bullet-item'><a href="#">Fourth Post</a></li>
          <li class='bullet-item'><a href="#">Fifth Post</a></li>
          <li class='bullet-item'><a href="#">Sixth Post</a></li>
          <li class='bullet-item'><a href="#">Seventh Post</a></li>
        </ul>
      </div>
    </section>
    <section class="section">
      <p class="title">
        <a href="#" class="label">Rails</a>
      </p>
      <div class="content">
        <ul class="side-nav pricing-table">
          <li class='bullet-item'><a href="#">First Post</a></li>
          <li class='bullet-item'><a href="#">Second Post</a></li>
          <li class='bullet-item'><a href="#">Third Post</a></li>
          <li class='bullet-item'><a href="#">Fourth Post</a></li>
          <li class='bullet-item'><a href="#">Fifth Post</a></li>
          <li class='bullet-item'><a href="#">Sixth Post</a></li>
          <li class='bullet-item'><a href="#">Seventh Post</a></li>
        </ul>
      </div>
    </section>
    <section class="section">
      <p class="title">
        <a href="#" class="label">Javascript</a>
      </p>
      <div class="content">
        <ul class="side-nav pricing-table">
          <li class='bullet-item'><a href="#">First Post</a></li>
          <li class='bullet-item'><a href="#">Second Post</a></li>
          <li class='bullet-item'><a href="#">Third Post</a></li>
          <li class='bullet-item'><a href="#">Fourth Post</a></li>
          <li class='bullet-item'><a href="#">Fifth Post</a></li>
          <li class='bullet-item'><a href="#">Sixth Post</a></li>
          <li class='bullet-item'><a href="#">Seventh Post</a></li>
        </ul>
      </div>
    </section>
    <section class="section">
      <p class="title">
        <a href="#" class="label">Database</a>
      </p>
      <div class="content">
        <ul class="side-nav pricing-table">
          <li class='bullet-item'><a href="#">First Post</a></li>
          <li class='bullet-item'><a href="#">Second Post</a></li>
          <li class='bullet-item'><a href="#">Third Post</a></li>
          <li class='bullet-item'><a href="#">Fourth Post</a></li>
          <li class='bullet-item'><a href="#">Fifth Post</a></li>
          <li class='bullet-item'><a href="#">Sixth Post</a></li>
          <li class='bullet-item'><a href="#">Seventh Post</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
