<div class='posts'>
  <div class='posts-head'>
    <h3 class="subheader">My Recent Blog Posts</h3>
  </div>

  <div class='posts-body'>
    <% @posts.each do |post| %>
      <h4 class="subheader"><%= post.title %></h4>
      <div class='panel round post-div'><%= post.body %></div>
    <% end %>
  </div>
</div>

<div class='paginators'>
  <%= link_to_previous_page @posts, 'Newer', class: 'small button secondary round mr15' %>
  <%= link_to_next_page @posts, 'Older', class: 'small button secondary round' %>
</div>