/*
 *= require_tree .
 *= require_self
 */

.container { min-height: 550px; }

#bio { font-size: 14px; }

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.help-inline {
  color: red;
  display: block;
  margin-top: 5px;
}

.signin-form {
  margin-top: 50px;
  margin-bottom: 200px;
}

.alert-error { background-color: pink; }
