#blog-icon {
  background: url(blog_icon.png) no-repeat 0 0;
}

#categories { width: 12em; }

.pricing-table { border: none; }

#title_name {
  margin-left: 9em;
  h1 { font-family: 'Comic Sans MS'; }
}

.posts {
  .posts-head {
    margin-bottom: 2em;
    h3 { color: #212D48; }
  }
}